<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INICIO DE SESIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenedor para la imagen circular -->
  <div class="image-circle">
    <img src="assets/images/logo.png" alt="Imagen Circular">
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input placeholder="nombre de usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" placeholder="********">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="login-button">Iniciar Sesión</ion-button>

  <!-- Contenedor para los botones adicionales -->
  <div class="additional-buttons">
    <ion-button expand="block" fill="clear" class="forgot-password-button">Olvidé mi contraseña</ion-button>
    <ion-button expand="block" fill="clear" class="register-button">Registrarse</ion-button>
  </div>
</ion-content>
